<!-- Toolbar -->
<mat-toolbar>
  <span>Record de gastos JRV / Gastos</span>
</mat-toolbar>

<div class="parent">
  <br>
  <button (click)="goToAdd()" mat-raised-button color="primary">Agregar Registro</button>
  <br><br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="demo-position">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="demo-name">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="demo-weight">
      <th mat-header-cell *matHeaderCellDef> Monto </th>
      <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="demo-symbol">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element; let i = index;"> 
        <button (click)="editar(i)" mat-button color="primary">Editar</button>
        <button (click)="eliminar(i)" mat-button color="warn">Eliminar</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>

  <br>
  <mat-divider></mat-divider>
  <section>
    <div class="example-button-row">
      <button (click)="goToHome()" mat-button>Presupuesto</button>
      <button color="primary" mat-button>Gastos Totales</button>
      <button mat-button>Presupuesto: {{presupuesto}} / Gastos: {{gastos}} / Balance: {{(presupuesto + ingresos) - gastos}}</button>
    </div>
  </section>
</div>
