<!-- Toolbar -->
<mat-toolbar>
  <span>Record de gastos JRV / Presupuesto</span>
</mat-toolbar>

<div class="parent">
  <form [formGroup]="presupuestoForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <mat-label>Presupuesto:</mat-label>
      <input type="number" matInput placeholder="1000000" formControlName="presupuesto" />
      <!--<div *ngIf="formControls.presupuesto.errors.pattern">Enter only number.</div>-->
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Divisa:</mat-label>
      <input matInput placeholder="$" formControlName="divisa" />
    </mat-form-field>
  
    <p>Complete los campos requeridos para habilitar el boton</p>
    <button type="submit" [disabled]="!presupuestoForm.valid || existPresupuesto" mat-raised-button color="primary">Guardar</button>

  </form>

  <br>
  <p>Presupuesto asignado: {{presupuesto}}</p>
  <br>
  <p>Divisa asignada: {{divisa}}</p>
  <br>
  <button (click)="restart()" mat-raised-button color="primary">Reiniciar Presupuesto</button>
  <br>

  <br>
  <mat-divider></mat-divider>
  <section>
    <div class="example-button-row">
      <button mat-button color="primary">Presupuesto</button>
      <button (click)="goToGastos()" mat-button>Gastos Totales</button>
      <button mat-button>Balance: {{(presupuesto + ingresos) - gastos}}</button>
    </div>
  </section>
</div>
